<div class="author">
  {% image "./src/static/images/luke-bonaccorsi-cropped.jpg", "{{ site.name }} eating a large baguette", "150px", [150], {class: "author__image"} %}
  <div class="author__content">
    <p>
      {% include "components/bio.html" %}
      <span class="author__follow-links">
        <a
          href="https://fedifollow.glitch.me/follow?account=codefoodpixels%40indieweb.social"
          target="_blank"
          rel="me external noopener noreferrer"
          class="author__follow-link author__follow-link--mastodon">Follow me on Mastodon</a>
        <a href="/rss.xml" class="author__follow-link author__follow-link--rss">Subscribe to my RSS feed</a>
      </span>
    </p>
  </div>
</div>
