<div class="content__about">
  {% image "./src/static/images/luke-bonaccorsi-cropped.jpg", "Luke Bonaccorsi eating a large baguette", "150px", [150] %}
  <div class="content__about-content">
    <p>
      {% include "components/bio.html" %}
      <span class="follow-links">
        <a href="https://twitter.com/intent/follow?screen_name=CodeFoodPixels" target="_blank" rel="external nofollow noopener noreferrer" class="follow-links__link follow-links__link--twitter">
          Follow me on Twitter
        </a>
        <a href="/rss.xml" class="follow-links__link follow-links__link--rss">Subscribe to my RSS feed</a>
      </span>
    </p>
  </div>
</div>
