<div class="demo-container">
  {% if ["demos", demoPath, "styles.css"] | join("/") | demoFileExists %}
  {% set css %}
    {% include "../../demos/" + demoPath + "/styles.css" %}
  {% endset %}
  <details class="demo__code">
    <summary class="demo__code-toggle">CSS</summary>
    {% highlight "css" %}
      {{ css | prettier("css") | safe }}
    {% endhighlight %}
  </details>
  {% endif %}
  {% if ["demos", demoPath, "main.js"] | join("/") | demoFileExists %}
    {% set javascript %}
      {% include "../../demos/" + demoPath + "/main.js" %}
    {% endset %}
    <details class="demo__code">
      <summary class="demo__code-toggle">JavaScript</summary>
      {% highlight "javascript" %}
        {{- javascript | prettier("babel") | safe }}
      {% endhighlight %}
    </details>
  {% endif %}
  {% set html %}
    {% include "../../demos/" + demoPath + "/index.njk" %}
  {% endset %}
  <details class="demo__code">
    <summary class="demo__code-toggle">HTML</summary>
    {% highlight "html" %}
      {{- html | stripFrontmatter | prettier("html") | safe }}
    {% endhighlight %}
  </details>
  <details class="demo__result" open>
    <summary class="demo__result-toggle">Result</summary>
    <iframe src="/demo/{{demoPath}}" title="{{ demo.title }}" loading="lazy" class="demo-container__iframe"></iframe>
  </details>
</div>
