<div class="demo-container">
  {% if ["demos", demoPath, "styles.css"] | join("/") | demoFileExists %}
  <details class="demo__code">
    <summary class="demo__code-toggle">CSS</summary>
    {% highlight "css" %}
      {% prettier "css" %}
        {%- include "../../demos/" + demoPath + "/styles.css" %}
      {% endprettier %}
    {% endhighlight %}
  </details>
  {% endif %}
  {% if ["demos", demoPath, "main.js"] | join("/") | demoFileExists %}
    <details class="demo__code">
      <summary class="demo__code-toggle">JavaScript</summary>
      {% highlight "javascript" %}
        {% prettier "babel" %}
          {%- include "../../demos/" + demoPath + "/main.js" %}
        {% endprettier %}
      {% endhighlight %}
    </details>
  {% endif %}
  <details class="demo__code">
    <summary class="demo__code-toggle">HTML</summary>
    {% highlight "html" %}
      {% prettier "html" %}
        {% stripFrontmatter %}
          {%- include "../../demos/" + demoPath + "/index.njk" %}
        {% endstripFrontmatter %}
      {% endprettier %}
    {% endhighlight %}
  </details>
  <details class="demo__result" open>
    <summary class="demo__result-toggle">Result</summary>
    <iframe src="/demo/{{demoPath}}" title="{{ demo.title }}" loading="lazy" class="demo-container__iframe"></iframe>
  </details>
</div>
