{%- set absoluteUrl -%}{{ page.url | url | absoluteUrl(site.url) }}{%- endset -%}
{%- set postMentions = webmentions | webmentionsForUrl(absoluteUrl) -%}

<article class="webmentions">
  <header class="webmentions__header">
    <h2>
      {{ postMentions.total }}
      {% if (postMentions.total === 1) %}
        Response
      {% else %}
        Responses
      {% endif %}
    </h2>
    <p>
      <form action="https://webmention.io/{{ site.domain }}/webmention" method="post" class="form-webmention">
        <label for="form-webmention-source" class="webmentions__form-label">Have you published your own post mentioning this one? Let me know the URL:</label>
        <div class="webmentions__field-wrapper">
          <input id="form-webmention-source" type="url" name="source" placeholder="https://example.com" required="required" class="webmentions__form-field">
          <input type="hidden" name="target" value="{{ site.url }}{{ page.url }}">
          <input type="submit" value="Send" class="webmentions__form-submit">
        </div>
      </form>
    </p>
    <p>
      Powered by
      <a href="https://indieweb.org/Webmention" target="_blank" rel="external nofollow noopener noreferrer">Webmentions</a> via
      <a href="https://webmention.io" target="_blank" rel="external nofollow noopener noreferrer">Webmention.io</a>
      and
      <a href="https://brid.gy" target="_blank" rel="external nofollow noopener noreferrer">Bridgy</a>
    </p>
  </header>

  {% ifAsync postMentions.likes.length %}
  <h3>
    {% if postMentions.likes.length === 1%}{{ postMentions.likes.length }}
      Like{% elif (postMentions.likes.length > 1) -%}{{ postMentions.likes.length }}
      Likes{% endif -%}
  </h3>

  {% set facepileMentions = postMentions.likes %}
  {% include "components/webmentions-facepile.njk" %}
{% endif %}

{% ifAsync postMentions.reposts.length %}
<h3>
  {% if postMentions.reposts.length === 1%}{{ postMentions.reposts.length }}
    Repost{% elif (postMentions.reposts.length > 1) -%}{{ postMentions.reposts.length }}
    Reposts{% endif -%}
</h3>

{% set facepileMentions = postMentions.reposts %}
{% include "components/webmentions-facepile.njk" %}
{% endif %}

{% if postMentions.replies.length %}
<h3>
  {% if postMentions.replies.length === 1%}{{ postMentions.replies.length }}
    Reply{% elif (postMentions.replies.length > 1) -%}{{ postMentions.replies.length }}
    Replies{% endif -%}
</h3>

<ol class="webmentions__list">
  {% asyncEach mention in postMentions.replies | reverse %}
  {% include "components/webmention-mention.njk" %}
  {% endeach %}
</ol>
{% endif %}

{% if postMentions.mentions.length %}
<h3>
  {% if postMentions.mentions.length === 1%}{{ postMentions.mentions.length }}
    Mention{% elif (postMentions.mentions.length > 1) -%}{{ postMentions.mentions.length }}
    Mentions{% endif -%}
</h3>

<ol class="webmentions__list">
  {% asyncEach mention in postMentions.mentions | reverse %}
  {% include "components/webmention-mention.njk" %}
  {% endeach %}
</ol>
{% endif %}

{% if postMentions.bookmarks.length %}
<h3>
  {% if postMentions.bookmarks.length === 1%}{{ postMentions.bookmarks.length }}
    Bookmark{% elif (postMentions.bookmarks.length > 1) -%}{{ postMentions.bookmarks.length }}
    Bookmarks{% endif -%}
</h3>

<ol class="webmentions__list">
  {% asyncEach mention in postMentions.bookmarks | reverse %}
  {% include "components/webmention-mention.njk" %}
  {% endeach %}
</ol>
{% endif %}
</article>
