---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - pages
    - posts
    - posteed
    - tagList
  addAllPagesToCollections: true
layout: layouts/page.njk
eleventyComputed:
  title: Posts tagged "{{ tag | lowercase}}"
permalink: /blog/tag/{{ tag | slug }}/
---
{% set postListItems = collections[ tag ] | livePosts | reverse %}
{% include "components/post-list.njk" %}
