---
title: "Basic clip-path demo with different sized images"
---
{% demoImage "./src/demos/clip-path/basic-wrong-size/example.jpg", "A clear gameboy and 3 games clipped into a triangle", 300, { class: "triangle" } %}
{% demoImage "./src/demos/clip-path/basic-wrong-size/example.jpg", "A clear gameboy and 3 games clipped into a triangle", 600, { class: "triangle" } %}
<p>Photo by <a href="https://unsplash.com/@dimhou" target="_blank" rel="external noopener noreferrer">Dim Hou</a> on Unsplash</p>
