<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ renderData.title or title or site.title }}
      // Luke Bonaccorsi - Web Developer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ renderData.description or description or site.description }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@CodeFoodPixels">
    <meta name="og:title" content="{{ renderData.title or title or site.title }}">
    <meta name="twitter:title" content="{{ renderData.title or title or site.title }}">
    <meta name="twitter:description" content="{{ renderData.description or description or site.description }}">
    <meta name="og:description" content="{{ renderData.description or description }}">
    <meta name="twitter:image" content="https://lukeb.co.uk/static/images/{{ renderData.image or image or 'logo-banner.png' }}">
    <meta name="og:image" content="https://lukeb.co.uk/static/images/{{ renderData.image or image or 'logo-banner.png' }}">
    <meta name="og:url" content="https://lukeb.co.uk{{ page.url }}">
    <meta name="og:type" content="website">
    <meta name="monetization" content="$ilp.uphold.com/a22q3KaYwEaL">
    <link rel="preload" href="/static/fonts/pressstart2p.woff2" as="font" type="font/woff2" crossorigin="crossorigin">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#000000">
    <meta name="apple-mobile-web-app-title" content="Luke Bonaccorsi">
    <meta name="application-name" content="Luke Bonaccorsi">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="/static/css/dist.css">
  </head>
  <body>
    <header class="header {{ 'header--hero' if heroHeader }}">
      <div class="header__background"></div>
      <div class="header__content">
        <div class="header__spaceship">
          <div class="header__laser"></div>
          <div class="header__asteroid header__asteroid--1"></div>
          <div class="header__asteroid header__asteroid--2"></div>
          <div class="header__asteroid header__asteroid--3"></div>
          <div class="header__spaceship-wrapper">
            {% include 'svg/spaceship.svg' %}
          </div>
          <div class="header__asteroid header__asteroid--4"></div>
          <div class="header__asteroid header__asteroid--5"></div>
          <div class="header__asteroid header__asteroid--6"></div>
        </div>
        <div class="header__text">
          <a href="/" class="header__name">Luke Bonaccorsi</a>
          <div class="header__start js-start"><span class="header__start-text">Press Start</span></div>
        </div>
      </div>
    </header>
    <nav class="nav" role="navigation" aria-label="Site Navigation">
      <ul class="nav__content">
        <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="/blog/" class="nav__link">Blog</a></li>
        <li class="nav__item"><a href="/speaking/" class="nav__link">Speaking</a></li>
        <li class="nav__item"><a href="https://github.com/CodeFoodPixels" class="nav__link" target="_blank" rel="external nofollow noopener noreferrer">GitHub</a></li>
        <li class="nav__item"><a href="https://twitter.com/CodeFoodPixels" class="nav__link" target="_blank" rel="external nofollow noopener noreferrer">Twitter</a></li>
        <li class="nav__item"><a href="/rss.xml" class="nav__link">RSS</a></li>
      </ul>
    </nav>
    <main class="content">
      {{ content | safe }}
    </main>
    <footer class="footer">
      <p>&copy; Luke Bonaccorsi 2017 -
        {% year %}</p>
      <p>
        <a href="https://github.com/codefoodpixels/website-11ty" target="_blank" rel="external nofollow noopener noreferrer">
          View website source on GitHub
        </a>
      </p>
    </footer>
    <script type="text/javascript">
      window.gameScriptLoaded = false;
      document.querySelector(".js-start").addEventListener("click", function () {
        if (window.gameScriptLoaded === true) {
          loadGame();
        } else {
          const gameScript = document.createElement('script');
          gameScript.setAttribute("type", "text/javascript");
          gameScript.setAttribute("src", "/static/js/easter.js");
          gameScript.setAttribute("onload", "window.gameScriptLoaded = true; loadGame()");
          document.body.appendChild(gameScript)
        }
      });
    </script>
    <img src="https://analytics.lukeb.co.uk/ping.png" aria-hidden="true" alt="" height="0" decoding="async">
  </body>
</html>
