<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    {% if page.filePathStem | replace("index", "styles.css") | demoFileExists %}
      <style>
        {% include "../../" + page.filePathStem | replace("index", "styles.css") %}
      </style>
    {% endif %}
  </head>
  <body>
    <main id="demo-content" title="{{ title }}">
      {{ content | safe }}
    </main>
    {% if page.filePathStem | replace("index", "main.js") | demoFileExists %}
      <script>
        {% include "../../" + page.filePathStem | replace("index", "main.js") %}
      </script>
    {% endif %}
  </body>
</html>
