---
layout: layouts/base.njk
---

{%- set postMentionCount = webmentions | webmentionCountForPage -%}
<article class="content__article h-entry">
  <header class="content__header">
    <h1 class="p-name">{{ title }}</h1>
    <div class="content__meta">
      <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | date("YYYY-MM-DD") }}</time>
      <span>
        //
      </span>
      <a href="#webmentions">{{ postMentionCount }} Response{%- if (postMentionCount !== 1) %}s{% endif -%}
      </a>
      <span>
        //
      </span>
      <span>About {{ content | readingTime({speed: 200, raw: true}) }} minute read</span>
      <div>
        {% for tag in tags | sort %}
          <a class="tag-link p-category" href="/blog/tag/{{ tag | slug }}/" rel="tag">{{ tag }}</a>
        {% endfor %}
      </div>
    </div>
  </header>
  <div class="p-summary">{{ page.excerpt | md | safe }}</div>
  <div class="e-content">
    {{ content | stripExcerpt(page.excerpt) | safe }}
  </div>
</article>
<article class="content__footer">
  {% include "components/about-block.njk" %}
</article>
{% include "components/post-pagination.njk" %}
{% include "components/webmentions-list.njk" %}
