---
layout: layouts/base.njk
---
<article class="content__article">
  <header class="content__header">
    <h1>{{ title }}</h1>
    <div class="content__meta">
      <time datetime="{{ date | w3DateFilter }}">{{ date | date("YYYY-MM-DD") }}</time>
      <span>
        //
      </span>
      <span>About
        {{ content | readingTime({speed: 200, raw: true}) }}
        minute read</span>
      <div>
        {% for tag in tags | sort %}
          <a class="tag-link" href="/blog/tag/{{ tag | slug }}/" rel="tag">{{ tag | lowercase }}</a>
        {% endfor %}
      </div>
    </div>
  </header>
  {{ content | safe }}
</article>
<article class="content__footer">
  {% include "components/about-block.njk" %}
</article>
{% include "components/post-pagination.njk" %}
{% include "components/webmentions-list.njk" %}
