:root {
  --visual-pixel: 0.25rem;
  --content-margin: 0rem;
  --content-max-width: 60rem;
}

html {
  height: 100%;
  font-size: 100%;
}

html,
body {
  min-height: 100%;
}

body {
  background: #000000;
  color: #ffffff;
  margin: 0;
  font-family: Courier, monospace;
  line-height: 1.75;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 40.625rem) {
  :root {
    --content-margin: 1rem;
  }
}

@media screen and (min-width: 73.25rem) {
  :root {
    --content-max-width: 71.25rem;
  }
}
