@use "sass:color";

$highlight-color: #bb1b1b;
$highlight-color: color.scale($highlight-color, $saturation: 20%);
$highlight-color--lighter: color.scale(
  $highlight-color,
  $lightness: 20%,
  $saturation: -20%
);
$highlight-color--darker: color.scale(
  $highlight-color,
  $lightness: -20%,
  $saturation: 20%
);
$highlight-color-hover: color.scale(
  $highlight-color,
  $lightness: -10%,
  $saturation: 10%
);
$highlight-color-hover--lighter: color.scale(
  $highlight-color-hover,
  $lightness: 20%,
  $saturation: -20%
);
$highlight-color-hover--darker: color.scale(
  $highlight-color-hover,
  $lightness: -20%,
  $saturation: 20%
);

:root {
  --content-background-color: #ffffff;
  --content-text-color: #000000;
  --content-link-color: #{$highlight-color};
  --code-block-background: #2b2b2b;
  --highlight-color--lighter: #{$highlight-color--lighter};
  --highlight-color: #{$highlight-color};
  --highlight-color--darker: #{$highlight-color--darker};
  --highlight-color-hover--lighter: #{$highlight-color-hover--lighter};
  --highlight-color-hover: #{$highlight-color-hover};
  --highlight-color-hover--darker: #{$highlight-color-hover--darker};
  --button-background: linear-gradient(
      180deg,
      var(--highlight-color--lighter) 0rem,
      var(--highlight-color--lighter) 0.25rem,
      transparent 0.25rem,
      transparent calc(100% - 0.25rem),
      var(--highlight-color--darker) calc(100% - 0.25rem)
    ),
    linear-gradient(
      90deg,
      var(--highlight-color--lighter) 0rem,
      var(--highlight-color--lighter) 0.25rem,
      transparent 0.25rem,
      transparent calc(100% - 0.25rem),
      var(--highlight-color--darker) calc(100% - 0.25rem)
    ),
    var(--highlight-color);
  --button-background--clicked: linear-gradient(
      180deg,
      var(--highlight-color-hover--darker) 0rem,
      var(--highlight-color-hover--darker) 0.25rem,
      transparent 0.25rem,
      transparent calc(100% - 0.25rem),
      var(--highlight-color-hover--lighter) calc(100% - 0.25rem)
    ),
    linear-gradient(
      90deg,
      var(--highlight-color-hover--darker) 0rem,
      var(--highlight-color-hover--darker) 0.25rem,
      transparent 0.25rem,
      transparent calc(100% - 0.25rem),
      var(--highlight-color-hover--lighter) calc(100% - 0.25rem)
    ),
    var(--highlight-color-hover);
}

@media (prefers-color-scheme: dark) {
  :root {
    --content-background-color: #181818;
    --content-text-color: #ffffff;
    --content-link-color: #fe1412;
    --code-block-background: #444444;
  }
}
