:root {
  --link-avatar-size: calc(var(--visual-pixel) * 8);
}

.eleventy-plugin-link-avatars__image {
  width: var(--link-avatar-size);
  height: var(--link-avatar-size);
  vertical-align: middle;
  margin: var(--visual-pixel);
  margin-left: calc(var(--visual-pixel) * 2);
}

.eleventy-plugin-link-avatars__link::after {
  content: "";
  clip-path: polygon(
    0px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 4px),
    8px calc(100% - 4px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 4px,
    4px 4px,
    4px 8px,
    0px 8px,
    0px 50%,
    4px 50%,
    4px 8px,
    8px 8px,
    8px 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 4px),
    8px calc(100% - 4px),
    8px calc(100% - 8px),
    4px calc(100% - 8px),
    4px 50%,
    0px 50%
  );
  display: inline-block;
  width: calc(var(--link-avatar-size) + 0.5rem);
  height: calc(var(--link-avatar-size) + 0.5rem);
  background: var(--content-link-color);
  margin-left: calc(calc(var(--link-avatar-size) + 0.5rem) * -1);
  vertical-align: middle;
}
