---
title: "Basic clip-path demo with percentages"
---
{% demoImage "./src/demos/clip-path/basic-percentages/example-1.jpg", "A green gameboy color held in a hand and clipped into a triangle", 300, { class: "triangle" } %}
{% demoImage "./src/demos/clip-path/basic-percentages/example-2.jpg", "A classic gameboy on a black background clipped into a triangle", 200, { class: "triangle" } %}
<p>Photos by <a href="https://unsplash.com/@eli_j" target="_blank" rel="external noopener noreferrer">Elias Castillo</a> and <a href="https://unsplash.com/@helloimnik" target="_blank" rel="external noopener noreferrer">Hello I'm Nik</a> on Unsplash</p>
  