---
title: Every Character
layout: layouts/base.njk
permalink: /every-char/
---
{% set every_char = '' %}
{% for content in collections.all %}
  {% if content.url !== page.url %}
    {% set content_chars %}{{ content.templateContent }}{% endset %}
    {% set new_every_char %}{{ every_char }}{{ content_chars | striptags | split("") | uniq | join("") }}{% endset %}
    {% set every_char = new_every_char %}
  {% endif %}
{% endfor %}
<h1>{{ every_char | striptags | split("") | uniq | sort | join("") }}</h1>
