:root {
  --content-margin: 0rem;
  --content-max-width: 60rem;
  --nav__item-flex-basis: 33%;
  --highlight-color--lighter: hsl(0, 65%, 52%);
  --highlight-color: hsl(0, 75%, 42%);
  --highlight-color--darker: hsl(0, 85%, 32%);
  --highlight-color-hover--lighter: hsl(0, 70%, 47%);
  --highlight-color-hover: hsl(0, 80%, 37%);
  --highlight-color-hover--darker: hsl(0, 90%, 27%);
  --button-background: linear-gradient(
    180deg,
    var(--highlight-color--lighter) 0rem,
    var(--highlight-color--lighter) 0.25rem,
    transparent 0.25rem,
    transparent calc(100% - 0.25rem),
    var(--highlight-color--darker) calc(100% - 0.25rem)
  ),
  linear-gradient(
    90deg,
    var(--highlight-color--lighter) 0rem,
    var(--highlight-color--lighter) 0.25rem,
    transparent 0.25rem,
    transparent calc(100% - 0.25rem),
    var(--highlight-color--darker) calc(100% - 0.25rem)
  ),
  var(--highlight-color);
  --button-background--clicked: linear-gradient(
    180deg,
    var(--highlight-color-hover--darker) 0rem,
    var(--highlight-color-hover--darker) 0.25rem,
    transparent 0.25rem,
    transparent calc(100% - 0.25rem),
    var(--highlight-color-hover--lighter) calc(100% - 0.25rem)
  ),
  linear-gradient(
    90deg,
    var(--highlight-color-hover--darker) 0rem,
    var(--highlight-color-hover--darker) 0.25rem,
    transparent 0.25rem,
    transparent calc(100% - 0.25rem),
    var(--highlight-color-hover--lighter) calc(100% - 0.25rem)
  ),
  var(--highlight-color-hover);
  --responsive-direction: column;
  --header-name-text-size: 3.2rem;
  --header-start-text-size: 1.6rem;
  --spaceship-height: 5rem;
  --spaceship-movement: 0.25rem;
  --header-background-size: 25rem;
  --header-line-width: 0.125rem;
  --header-line-spacing: 0.5rem;
  --spaceship-container-height: 5rem;
  --asteroid-position: 0rem;
  --asteroid-time-multiplier: 1;
  --asteroid-size: 0rem;
  --laser-height: 0rem;
  --laser-width: 0rem;
  --laser-endstop: 0rem;
}

html {
  height: 100%;
  font-size: 100%;
}

html,
body {
  min-height: 100%;
}

body {
  background: #000000;
  color: #ffffff;
  margin: 0;
  font-family: Courier, monospace;
  font-size: 16px;
  line-height: 1.75;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2rem 0 1.38rem;
  font-family: "Press Start 2P", Courier, monospace;
  font-weight: 400;
  line-height: 0.9;
}

h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 1.38rem;
}

h1 {
  margin: 0 0 1rem;
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small,
.text_small {
  font-size: 0.75rem;
}

.content__header::after,
h2:not(:first-child)::after,
h3:not(:first-child)::after,
h4:not(:first-child)::after,
h5:not(:first-child)::after,
.content__footer::before,
.content__footer::after,
.webmentions::before,
.webmentions__header::after {
  content: " ";
  height: 0.25rem;
  width: 100%;
  display: block;
  background: repeating-linear-gradient(
    90deg,
    #000000 0rem,
    #000000 0.5rem,
    #ffffff 0.5rem,
    #ffffff 1rem
  );
  margin-top: 0.5rem;
}

small,
.text_small {
  font-size: 0.833rem;
}

a,
a:hover,
a:visited,
a:active {
  color: #ffffff;
}

a:hover {
  text-decoration: none;
}

*:focus {
  outline: 0.25rem solid var(--highlight-color);
  outline-offset: 0.25rem;
  z-index: 1;
}

.skip-link:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.skip-link {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.9em;
  border: 0.25rem solid #ffffff;
  background: #000000;
  padding: 0.25rem;
}

.header {
  position: relative;
  overflow: hidden;
  line-height: 0.7;
}

.header--hero {
  --responsive-direction: column;
  --header-name-text-size: min(14.4vw, 16vh);
  --header-start-text-size: min(7.2vw, 8vh);
  --header-line-width: min(0.5625vw, 0.625vh);
  --header-line-spacing: min(2.25vw, 2.5vh);

  /*
    Pixel art scaling 
    1px = 0.1875vh
  */
  --spaceship-container-height: max(10.75rem, 45vh);
  --spaceship-height: max(5rem, 15vh);
  --spaceship-movement: max(1rem, 3vh);
  --asteroid-size: max(2.625rem, 7.875vh);
  --laser-height: max(0.375rem, 1.125vh);
  --laser-width: max(2.375rem, 7.125vh);
  --header-background-size: max(25rem, 75vh);
  --asteroid-position: calc(
    ((50% - (var(--spaceship-height) / 2) - var(--asteroid-size)) / 2) -
      var(--spaceship-movement)
  );
  --laser-endstop: max(calc(50vw + (var(--laser-width) / 2)), calc(36.625rem));
}

.header__background {
  position: absolute;
  width: calc(200vw + var(--header-background-size));
  height: 100%;
  top: 0rem;
  left: 0rem;
  background: url("/static/images/stars.svg"), #000000;
  background-size: var(--header-background-size);
  will-change: transform;
  z-index: -1;
}

.header__content {
  min-height: 12.5rem;
  width: calc(100vw - (var(--content-margin) * 2));
  max-width: var(--content-max-width);
  display: flex;
  flex-direction: var(--responsive-direction);
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: calc(var(--spaceship-movement) * 2) 0rem;
  box-sizing: border-box;
}

.header--hero .header__content {
  min-height: calc(100vh - 5rem);
  width: 100%;
  max-width: 100%;
}

.header__content::after {
  content: " ";
  flex: var(--header-flex);
}

.header__spaceship {
  display: flex;
  align-items: center;
  flex: var(--header-flex);
}

.header--hero .header__spaceship {
  justify-content: center;
  width: 100%;
  flex: 1 1 var(--spaceship-container-height);
  position: relative;
}

.header--hero .header__laser {
  position: absolute;
  width: var(--laser-width);
  height: var(--laser-height);
  background-image: url("/static/images/laser.svg");
  background-size: var(--laser-width);
  left: calc(50% - (var(--laser-width) / 2));
  top: calc(50% + (var(--laser-height) / 2));
  will-change: transform, opacity;
  opacity: 0;
}

.header--hero .header__asteroid {
  position: absolute;
  width: var(--asteroid-size);
  height: var(--asteroid-size);
  left: max(100vw, var(--header-background-size));
  will-change: transform;

  overflow: hidden;
}

.header--hero .header__asteroid::before {
  content: " ";
  display: block;
  background-image: url("/static/images/asteroid.svg");
  background-size: auto var(--asteroid-size);
  width: calc(var(--asteroid-size) * 20);
  height: var(--asteroid-size);
  will-change: transform;
}

.header--hero .header__asteroid--1,
.header--hero .header__asteroid--2,
.header--hero .header__asteroid--3 {
  top: var(--asteroid-position);
}

.header--hero .header__asteroid--4,
.header--hero .header__asteroid--5,
.header--hero .header__asteroid--6 {
  bottom: var(--asteroid-position);
}

.header__spaceship-wrapper svg {
  height: var(--spaceship-height);
  width: calc(var(--spaceship-height) * 2);
  will-change: transform;
  display: block;
}

.header__text {
  font-family: "Press Start 2P", Courier, monospace;
  color: #ffffff;
  text-align: center;
  width: min-content;
  height: min-content;
  user-select: none;
  margin-top: 0.5rem;
  perspective: calc(var(--header-name-text-size) * 0.75);
  line-height: 0.7;
}

.header__name {
  font-size: var(--header-name-text-size);
  text-transform: uppercase;
  transform: rotateX(5deg);
  transform-origin: 100% 100%;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.header__start {
  display: flex;
  font-size: var(--header-start-text-size);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header__start-text {
  opacity: 1;
  will-change: opacity;
}

.header__start:before,
.header__start:after {
  content: "";
  flex: 1;
  height: var(--header-line-width);
  background: #ffffff;
}

.header__start:before {
  margin-right: var(--header-line-spacing);
}

.header__start:after {
  margin-left: var(--header-line-spacing);
}

.nav {
  font-family: "Press Start 2P", Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem 0.75rem;
  background: var(--highlight-color);
  margin: 0.25rem;
  line-height: 1.8rem;
  font-size: 1.67rem;
}

.nav__content {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  background: #000000;
  padding: 0.125rem;
  margin: 0;
  box-sizing: border-box;
  width: calc(100% - (var(--content-margin) * 2));
  max-width: var(--content-max-width);
  list-style: none;
}

.nav__item {
  height: 3.5rem;
  flex: 1 1 var(--nav__item-flex-basis);
  text-align: center;
  border: 0.125rem solid #000000;
  box-sizing: border-box;
  position: relative;
}

.nav__link {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding-top: 0.625rem;
  padding-bottom: 0.875rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  box-sizing: border-box;
  text-decoration: none;
  background: var(--button-background);
  position: relative;
}

.nav__link:hover,
.nav__link:focus {
  padding-top: 0.875rem;
  padding-bottom: 0.625rem;
  background: var(--button-background--clicked);
}

.nav :focus {
  outline-color: #ffffff;
}

.content {
  background: #ffffff;
  padding: 1rem;
  position: relative;
  margin: 0 auto 1rem;
  width: calc(100% - (var(--content-margin) * 2));
  max-width: var(--content-max-width);
  box-sizing: border-box;
  flex: 1;
  font-family: Courier, monospace;
  color: #000000;
}

.content:focus {
  outline: none;
}

.content a,
.content a:visited {
  color: var(--highlight-color);
}

.content a:hover,
.content a:active {
  color: var(--highlight-color-hover);
}

.content img,
.content video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 50vh;
}

.content img {
  clip-path: polygon(
    0px 16px,
    4px 16px,
    4px 8px,
    8px 8px,
    8px 4px,
    16px 4px,
    16px 0px,
    calc(100% - 16px) 0px,
    calc(100% - 16px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 16px,
    100% 16px,
    100% calc(100% - 16px),
    calc(100% - 4px) calc(100% - 16px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 16px) calc(100% - 4px),
    calc(100% - 16px) 100%,
    16px 100%,
    16px calc(100% - 4px),
    8px calc(100% - 4px),
    8px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 16px),
    0px calc(100% - 16px)
  );
}

.content figcaption {
  text-align: center;
}

.content__header {
  margin: 0 0 1.38rem;
}

.content__header h2 a,
.content__header h2 a:hover,
.content__header h2 a:visited,
.content__header h2 a:active {
  color: #000000;
  text-decoration: none;
  display: inline-block;
}

.content__header a:hover {
  color: var(--highlight-color);
}

.content__meta {
  margin-bottom: 0.5rem;
}

.tag-link::before {
  content: "#";
}

.content {
  overflow-wrap: break-word;
}

.content__article:not(:first-child) {
  margin-top: 2rem;
}

.content__pagination {
  text-align: center;
}

.content__pagination-content {
  list-style: none;
}

.content__pagination-item {
  display: inline-block;
}

.content__pagination-page {
  margin: 0 0.25rem;
}

.content__post-pagination {
  margin: 3rem 0;
}

.content__post-pagination-item {
  display: flex;
  flex-direction: var(--responsive-direction);
  margin-bottom: 0.5rem;
}

.content__post-pagination-label {
  width: 9rem;
  flex-shrink: 0;
  flex-grow: 0;
  font-weight: bold;
}

.content__post-pagination-title {
  flex: 1 1 auto;
  margin: 0;
}

.content__footer {
  margin-top: 4rem;
}

.content__about {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
}

.content__about img {
  max-width: none;
  margin-bottom: 1rem;
}

.follow-links {
  display: block;
  line-height: 2;
}

.follow-links__link {
  padding: 0.5rem;
  font-family: "Press Start 2P", Courier, monospace;
  font-size: 1.2em;
  margin-right: 0.5rem;
  white-space: nowrap;
}

a.follow-links__link--twitter,
a.follow-links__link--twitter:hover,
a.follow-links__link--twitter:visited,
a.follow-links__link--twitter:active {
  background: #00acee;
  color: #000000;
}

a.follow-links__link--rss,
a.follow-links__link--rss:hover,
a.follow-links__link--rss:visited,
a.follow-links__link--rss:active {
  background: #ef8021;
  color: #000000;
}

.webmentions__form-label {
  display: block;
}

.webmentions__field-wrapper {
  display: inline-flex;
}

.webmentions__form-field {
  border: 1px solid black;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: Courier, monospace;
  height: 2rem;
  box-sizing: border-box;
  margin-right: 0.5rem;
}

.webmentions__form-submit {
  font-size: 1rem;
  font-family: Courier, monospace;
  height: 2rem;
  display: inline-block;
  border: 0;
  padding: 0.45rem 1rem 0.55rem;
  background: var(--button-background);
  color: #ffffff;
}

.webmentions__form-submit:active {
  background: var(--button-background--clicked);
  padding: 0.55rem 1rem 0.45rem;
}

.webmentions__facepile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.webmentions__face-link {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.webmentions__list {
  list-style: none;
  padding-left: 0px;
}

.webmentions__item {
  margin-bottom: 2rem;
}

.webmention__meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0.5rem;
}
.webmention__meta .webmention__author-photo {
  margin-right: 0.5rem;
}

.webmention__author-name {
  margin-right: 0.5rem;
  font-weight: bold;
}

.webmention__truncated {
  padding: 0.125rem 0.25rem;
  background: #666;
  color: white;
}

.talk-events {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 1rem;
  column-gap: 1rem;
}

.talk-events__event {
  text-align: left;
  margin: 1rem 0;
}

.talk-events__event-name,
.talk-events__event-talk,
.talk-events__event-location,
.talk-events__event-date,
.talk-events__event-type,
.talk-events__event-video {
  display: block;
  width: max-content;
  max-width: 100%;
}

.talk-events__event-name {
  font-family: "Press Start 2P", Courier, monospace;
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
  line-height: 0.9;
}

.talk-events__event-type {
  padding: 0.25rem;
}

.talk-events__event-type--meetup {
  background-color: hsl(200, 80%, 37%);
  color: hsl(0, 100%, 100%);
}

.talk-events__event-type--conference {
  background-color: hsl(20, 80%, 37%);
  color: hsl(0, 100%, 100%);
}

.talk-events__event-name {
  display: block;
}

.footer {
  font-family: "Press Start 2P", Courier, monospace;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  width: calc(100% - (var(--content-margin) * 2));
  max-width: var(--content-max-width);
  box-sizing: border-box;
  font-size: 1.5em;
  line-height: 1.2;
}

.footer p {
  margin-bottom: 0.3125rem;
}

.footer a {
  color: #ffffff;
}

.easter {
  overflow: hidden;
}

.easter .header__background,
.easter .header--hero .header__laser,
.easter .header--hero .header__asteroid,
.easter .header--hero .header__asteroid::before,
.easter .header--hero .header__spaceship-wrapper,
.easter .header--hero .header__spaceship-wrapper svg,
.easter .header__spaceship-wrapper,
.easter .header__spaceship-wrapper svg,
.easter .header__start-text {
  animation: none;
}

.easter__overlay {
  position: fixed;
  top: 0rem;
  left: 0rem;
  bottom: 0rem;
  right: 0rem;
  background: #000000;
  opacity: 0.9;
}

.easter__close {
  position: fixed;
  top: 50%;
  margin-top: -10rem;
  right: 50%;
  font-family: "Press Start 2P", Courier, monospace;
  color: #ffffff;
  border: none;
  background: transparent;
  font-size: 1.2rem;
}

.easter__canvas {
  position: fixed;
  top: 50%;
  margin-top: -10rem;
  left: 50%;
}

@media screen and (min-width: 40.625rem) {
  :root {
    --content-margin: 1rem;
    --asteroid-time-multiplier: 1.5;
  }
}

@media screen and (min-width: 43.75rem) {
  :root {
    --responsive-direction: row;
    --header-flex: 1 1 50%;
  }
}

@media screen and (min-width: 48rem) {
  :root {
    --nav__item-flex-basis: 0rem;
    --responsive-direction: row;
    --header-flex: 1 1 50%;
  }

  .content__about {
    flex-direction: row;
  }

  .content__about img {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 53.125rem) {
  :root {
    --header-name-text-size: 4.8rem;
    --asteroid-time-multiplier: 2;
  }
}

@media screen and (min-width: 73.25rem) {
  :root {
    --content-max-width: 71.25rem;
    --asteroid-time-multiplier: 2.5;
  }
}

@font-face {
  font-family: "Press Start 2P";
  src: url("/static/fonts/pressstart2p.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@keyframes stars {
  from {
    transform: translateX(0rem);
  }

  to {
    transform: translateX(calc(var(--header-background-size) * -1));
  }
}

@keyframes asteroid-rotate {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(var(--asteroid-size) * -20));
  }
}

@keyframes asteroid-move {
  0% {
    transform: translateX(0);
  }

  80% {
    transform: translateX(
      calc(
        (max(100vw, var(--header-background-size)) + var(--asteroid-size)) * -1
      )
    );
  }

  100% {
    transform: translateX(
      calc(
        (max(100vw, var(--header-background-size)) + var(--asteroid-size)) * -1
      )
    );
  }
}

@keyframes spaceship {
  from {
    transform: translateY(calc(var(--spaceship-movement) * -1));
  }

  to {
    transform: translateY(var(--spaceship-movement));
  }
}

@keyframes spaceship--dodging {
  /* 5% = 0.5 second */

  0% {
    transform: translateY(0);
  }

  12.5% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(calc(var(--spaceship-movement) * -1));
  }

  30% {
    transform: translateY(calc(var(--spaceship-movement) * -1));
  }

  32.5% {
    transform: translateY(0);
  }

  37.5% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(calc(var(--spaceship-movement) * -1));
  }

  55% {
    transform: translateY(calc(var(--spaceship-movement) * -1));
  }

  60% {
    transform: translateY(var(--spaceship-movement));
  }

  80% {
    transform: translateY(var(--spaceship-movement));
  }

  82.5% {
    transform: translateY(0);
  }

  87.5% {
    transform: translateY(0);
  }

  90% {
    transform: translateY(var(--spaceship-movement));
  }

  97.5% {
    transform: translateY(var(--spaceship-movement));
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes spaceship--accelerating {
  /* 6.25% = 0.5 second */

  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(0);
  }

  31.25% {
    transform: translateX(calc(var(--spaceship-movement) * 2));
  }

  50% {
    transform: translateX(calc(var(--spaceship-movement) * 2));
  }

  75% {
    transform: translateX(calc(var(--spaceship-movement) * -2));
  }

  93.75% {
    transform: translateX(calc(var(--spaceship-movement) * -2));
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes laser {
  /* 3.3333333333% = 1 second */

  0% {
    opacity: 1;
  }

  5% {
    transform: translateY(0) translateX(var(--laser-endstop));
    opacity: 1;
  }
  5.01% {
    opacity: 0;
  }

  13.32% {
    transform: translateY(calc(var(--spaceship-movement) * -1)) translateX(0);
    opacity: 0;
  }

  13.33% {
    opacity: 1;
  }

  18.33% {
    transform: translateY(calc(var(--spaceship-movement) * -1))
      translateX(var(--laser-endstop));
    opacity: 1;
  }

  18.34% {
    opacity: 0;
  }

  27.49% {
    transform: translateY(0) translateX(0);
    opacity: 0;
  }

  27.50% {
    opacity: 1;
  }

  32.5% {
    transform: translateY(0) translateX(var(--laser-endstop));
    opacity: 1;
  }

  32.51% {
    opacity: 0;
  }

  38.32% {
    transform: translateY(calc(var(--spaceship-movement) * -1)) translateX(0);
    opacity: 0;
  }

  38.33% {
    opacity: 1;
  }

  43.33% {
    transform: translateY(calc(var(--spaceship-movement) * -1))
      translateX(var(--laser-endstop));
    opacity: 1;
  }

  43.34% {
    opacity: 0;
  }

  44.16% {
    transform: translateY(0) translateX(0);
    opacity: 0;
  }

  44.17% {
    opacity: 1;
  }

  49.17% {
    transform: translateY(0) translateX(var(--laser-endstop));
    opacity: 1;
  }

  49.18% {
    opacity: 0;
  }

  56.99% {
    transform: translateY(var(--spaceship-movement)) translateX(0);
    opacity: 0;
  }
  57% {
    opacity: 1;
  }

  62% {
    transform: translateY(var(--spaceship-movement))
      translateX(var(--laser-endstop));
    opacity: 1;
  }

  62.01% {
    opacity: 0;
  }

  66.66% {
    transform: translateY(0) translateX(0);
    opacity: 0;
  }

  66.67% {
    opacity: 1;
  }

  71.67% {
    transform: translateY(0) translateX(var(--laser-endstop));
    opacity: 1;
  }

  71.68% {
    opacity: 0;
  }

  79.99% {
    transform: translateY(calc(var(--spaceship-movement) * -1)) translateX(0);
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  85% {
    transform: translateY(calc(var(--spaceship-movement) * -1))
      translateX(var(--laser-endstop));
    opacity: 1;
  }

  85.01% {
    opacity: 0;
  }

  86.66% {
    transform: translateY(var(--spaceship-movement)) translateX(0);
    opacity: 0;
  }

  86.67% {
    opacity: 1;
  }

  91.67% {
    transform: translateY(var(--spaceship-movement))
      translateX(var(--laser-endstop));
    opacity: 1;
  }

  91.68% {
    opacity: 0;
  }

  94.16% {
    transform: translateY(0) translateX(0);
    opacity: 0;
  }

  94.17% {
    opacity: 1;
  }

  99.17% {
    transform: translateY(0) translateX(var(--laser-endstop));
    opacity: 1;
  }

  99.18% {
    opacity: 0;
  }

  100% {
    transform: translateY(0) translateX(0);
    opacity: 0;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }

  33% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  .header__background {
    animation: 5s linear infinite stars;
  }

  .header__spaceship-wrapper svg {
    animation: 1s ease-in-out alternate infinite spaceship;
  }

  .header--hero .header__spaceship-wrapper {
    animation: 16s cubic-bezier(0.32, 0.01, 0.46, 1) infinite
      spaceship--accelerating;
  }

  .header--hero .header__spaceship-wrapper svg {
    animation: 10s ease-in-out infinite spaceship--dodging;
  }

  .header--hero .header__laser {
    animation: 30s linear infinite laser;
  }

  .header__asteroid::before {
    animation: 3s steps(20) infinite asteroid-rotate;
  }

  .header--hero .header__asteroid--1 {
    animation: calc(3.4375s * var(--asteroid-time-multiplier)) linear infinite
      asteroid-move;
    animation-delay: calc(-0.12s - (2.1s * var(--asteroid-time-multiplier)));
  }

  .header--hero .header__asteroid--2 {
    animation: calc(3.4375s * var(--asteroid-time-multiplier)) linear infinite
      asteroid-move;
    animation-delay: calc(1.55s - (2.1s * var(--asteroid-time-multiplier)));
  }

  .header--hero .header__asteroid--3 {
    animation: calc(3.4375s * var(--asteroid-time-multiplier)) linear infinite
      asteroid-move;
    animation-delay: calc(4.37s - (2.1s * var(--asteroid-time-multiplier)));
  }

  .header--hero .header__asteroid--4 {
    animation: calc(2.8125s * var(--asteroid-time-multiplier)) linear infinite
      asteroid-move;
    animation-delay: calc(0.85s - (2.1s * var(--asteroid-time-multiplier)));
  }

  .header--hero .header__asteroid--5 {
    animation: calc(2.8125s * var(--asteroid-time-multiplier)) linear infinite
      asteroid-move;
    animation-delay: calc(3.7s - (2.1s * var(--asteroid-time-multiplier)));
  }
  .header--hero .header__asteroid--6 {
    animation: calc(2.8125s * var(--asteroid-time-multiplier)) linear infinite
      asteroid-move;
    animation-delay: calc(4.78s - (2.1s * var(--asteroid-time-multiplier)));
  }

  .header__start-text {
    animation: 1.5s linear alternate infinite blink;
  }
}

/* prismjs overrides */
pre[class*="language-"],
:not(pre) > code[class*="language-"] {
  border-radius: 0;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: Courier, monospace;
}

:not(pre) > code[class*="language-"] {
  padding: 0.25rem 0.5rem;
}
