---
title: "Rounded corners clip-path demo"
---
{% demoImage "./src/demos/clip-path/rounded-corners/example.jpg", "A clear gameboy and 3 games with pixelated rounded corners", 300, { class: "clip" } %}
{% demoImage "./src/demos/clip-path/rounded-corners/example.jpg", "A clear gameboy and 3 games with rounded corners", 300, { class: "radius" } %}
<p>Photo by <a href="https://unsplash.com/@dimhou" target="_blank" rel="external noopener noreferrer">Dim Hou</a> on Unsplash</p>
