---
title: "Clip-path demo with percentages and fixed units"
---
{% demoImage "./src/demos/clip-path/basic-percentages/example-1.jpg", "A green gameboy color held in a hand and clipped into an arrow", 300, { class: "clip" } %}
{% demoImage "./src/demos/clip-path/basic-percentages/example-2.jpg", "A classic gameboy on a black background clipped into an arrow", 200, { class: "clip" } %}
<p>Photos by <a href="https://unsplash.com/@eli_j" target="_blank" rel="external noopener noreferrer">Elias Castillo</a> and <a href="https://unsplash.com/@helloimnik" target="_blank" rel="external noopener noreferrer">Hello I'm Nik</a> on Unsplash</p>
