---
title: "Basic clip-path demo"
---
{% demoImage "./src/demos/clip-path/basic/example.jpg", "A clear gameboy and 3 games clipped into a triangle", 300, { class: "triangle-1" } %}
{% demoImage "./src/demos/clip-path/basic/example.jpg", "A clear gameboy and 3 games clipped into a smaller triangle", 300, { class: "triangle-2" } %}
<p>Photo by <a href="https://unsplash.com/@dimhou" target="_blank" rel="external noopener noreferrer">Dim Hou</a> on Unsplash</p>
